# Google OAuth Credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# App URL (automatically provided in AI Studio, but good to have for local testing)
APP_URL=

# Telegram Bot configuration
VITE_TELEGRAM_TOKEN=8797580854:AAHOd0Aqo6MD_qt3b37N0wLlkomlYs0w1dM
VITE_TELEGRAM_CHAT_ID=-1003747575280
